<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <ng-container *ngFor="let observation of observations">
      <div class="carousel-item active" *ngFor="let picture of observation.pictures">
        <img [src]="pathUrl + picture.observationImageUrl" class="d-block picture" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <div *ngFor="let user of users">
            <h5>{{observation.userId == user.userId ? user.userName : ""}}</h5>
          </div>
          <p>{{observation.observationId == picture.observationId ? observation.observationNote : ''}}</p>
        </div>
      </div>
    </ng-container>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
