.size {
  width: 200px;
}

::ng-deep.has-event {
  background-color: red !important;
  color: white;
  border-radius: 50%;
}

.events{
  padding: 40px;
  display: flex;
  align-items: center;
}

.size {
  background-color: white;
}

mat-calendar {
  margin-right: 20px;
}
