<h1>Id oggetto stellare: {{id}}</h1>
<h2>Nome oggetto stellare: {{object.name}}</h2>
<img [src]="object.objectImgUrl" [alt]="object.name" style="width: 200px">
<p>{{object.description}}</p>
<mat-card-actions *ngIf="isUserAuthenticated()">
  <button mat-raised-button color="primary"  *ngIf="liked == false" (click)="EditPreferences()">LIKE</button>
  <button mat-raised-button color="primary" *ngIf="liked == true" (click)="EditPreferences()">UNLIKE</button>
  <button mat-button>SHARE</button>
</mat-card-actions>
