<div class="container">
  <div>
    <h1>{{object.name}}</h1>
  </div>
  <div class="body-object">
      <div class="image">
        <img [src]="object.objectImgUrl" [alt]="object.name">
      </div>
      <div class="description">
        <p>{{object.description}}</p>
        <mat-card-actions *ngIf="isUserAuthenticated()">
          <button mat-raised-button color="primary"  *ngIf="liked == false" (click)="EditPreferences()">LIKE</button>
          <button mat-raised-button color="primary" *ngIf="liked == true" (click)="EditPreferences()">DON'T LIKE</button>
        </mat-card-actions>
      </div>
  </div>
</div>
