<div *ngIf="loginError$ | async">
  <div id="notAuthorized" class="alert">Non autorizzato.</div>
</div>

<div
  *ngIf="isAuthorized$ | async; else loginForm"
  id="loginSuccess"
  class="success"
>
  Ciao {{ userName$ | async }}!
</div>

<ng-template #loginForm>
  <form
    #formLogin
    id="loginForm"
    #loginForm="ngForm"
    (ngSubmit)="login(loginForm)"
  >
    <div class="form-container">
      <h1>Effettua il Login</h1>

      <mat-form-field appearance="fill">
        <mat-label>userName:</mat-label>
        <input
          matInput
          type="text"
          name="userName"
          [(ngModel)]="credentials.userName"
          required
        />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Password:</mat-label>
        <input
          matInput
          type="password"
          name="Password"
          [(ngModel)]="credentials.password"
          required
        />
      </mat-form-field>

      <button mat-raised-button type="submit" [disabled]="!loginForm.valid">
        Login
      </button>
    </div>
  </form>
</ng-template>
