<div *ngIf="username; then bloccoIf else bloccoElse"></div>
<ng-template #bloccoIf ><h1>Ciao {{username}}!</h1></ng-template>
<ng-template #bloccoElse ><h1>Ciao {{notLoggedIn}}</h1></ng-template>

<section>
  <span>
    Hero - Intro
  </span>
</section>
<hr>
<section>
  <span>
    Eventi Associazione
  </span>
</section>
<hr>
<section>
  <span>
    Foto Osservazioni Utenti Registrati
  </span>
</section>
<hr>
<section>
  <span>
    News Astronomia
  </span>
</section>
<hr>
<section>
  <span>
    Meteo
  </span>
</section>
