<div *ngIf="username; then bloccoIf else bloccoElse"></div>
<ng-template #bloccoIf ><h1>Ciao {{username}}!</h1></ng-template>
<ng-template #bloccoElse ><h1>Ciao {{notLoggedIn}}</h1></ng-template>

<section>
  <span>
    Hero - Intro
  </span>
</section>
<hr>
<section>
  <span>
    <h2>I Prossimi Eventi</h2>
      <ul class="event-list">
        <li *ngFor="let e of events" style="width: calc(100vw / 5 - 10px)">
          <span>Quando: {{e.eventDate}}</span>
          <h3>Nome: {{e.eventName}}</h3>
          <small>Tipo di Evento: {{e.types[0].eventType.name}}</small>
          <div>
            <img id="eventProfile" [src]='pathUrl + e.eventImgUrl' [alt]="e.eventName" style="width: 150px">
          </div>
          <p>{{e.description}}</p>
          <span>dove: {{e.place}}</span>
        </li>
      </ul>
  </span>
</section>
<hr>
<section>
  <span>
    Foto Osservazioni Utenti Registrati
  </span>
</section>
<hr>
<section>
  <span>
    News Astronomia
  </span>
</section>
<hr>
<section>
  <span>
    Meteo
  </span>
</section>
