<app-hero></app-hero>
<div class="container">
  <section>
    <app-scheduler></app-scheduler>
  </section>
  <hr>
  <section>
    <span>
      Foto Osservazioni Utenti Registrati
    </span>
    <app-carousel></app-carousel>
  </section>
  <hr>
  <section class="d-flex">
    <div>
      <button class="meteo" mat-button (click)="openDialog()">Controlla il meteo <mat-icon>cloud</mat-icon></button>
    </div>
    <div>
      <span>
        News Astronomia
      </span>
    </div>
  </section>
</div>

