/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
//VARIABLES
:root{
  --primaryred: rgb(175, 6, 6);
}

//GENERAL
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


//STYLES
.container {
  width: 1200px;
  margin: auto;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  color: inherit;
  margin-right: 20px !important;
}

h3{
  margin-bottom: 0px !important;
}
